.titulo1{
    color:#0b64a3
}

.titulo2{
    display: flex;
    padding-top: 30px;
}

.texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.texto p1{
    color:#667580
}